* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    max-width: 1320px;
    display: flex; 
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
}

.linkBtn {
    text-decoration: none;
    background-color: white;
    color: #333333;
    box-sizing: border-box;
    font-weight: 600;
    display: flex;
    align-items: center;
    height: 32px;
    gap: 6px;
  }
  
.linkBtn:hover {
    border-bottom: 2px solid #333333;
}

.btn {
    text-decoration: none;
    background-color: #1d1d1d;
    color: white;
    box-sizing: border-box;
    font-weight: 500;
    padding: 0px 12px;
    height: 40px;
    border-radius: 6px;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
  }
  
.btn:hover {
    background-color: #111111;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
}
